<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.res.model.mapper.TableMapper"  >
	
	<select id="selectTable" resultType="Table"   >

	</select>
	
	<delete id="removeTable" parameterType="int" >
		
	</delete>
	
</mapper>